Implement option extension

TFTP have some RFCs:

-  [RFC1350 - THE TFTP PROTOCOL (REVISION 2)](https://datatracker.ietf.org/doc/html/rfc1350)
-  [RFC2347 - TFTP Option Extension](https://datatracker.ietf.org/doc/html/rfc2347)
-  [RFC2348 - TFTP Blocksize Option](https://datatracker.ietf.org/doc/html/rfc2348)
-  [RFC2349 - TFTP Timeout Interval and Transfer Size Options](https://datatracker.ietf.org/doc/html/rfc2349)

The current tftpff doesn't implement RFC2347, 2348, and 2349.